body {
    background-color: #fcf6d7;
    margin: 0;
    font-family: "helvetica", serif;
}

h1{
    text-align: center;
    background: #d77e70;
    padding: 20px;
}
h2{
    text-align: center;
    background: #d77e70;
    padding: 20px 0;
}

#me {
    float: left;
}

#aboutMe{
    display: flex;
    align-items: center;
}

//Calculations page

.images{
    float: right;
    margin-bottom: 10px;
    margin-top: 10px;
}